<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Kalo</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

    <!-- Libraries
    __________________________________________________ -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>

<div id="app" class="container" style="margin-top: 10%">
    <h4>Food Item</h4>
    <form>
        <div class="row">
            <div class="six columns">
                <label for="name_input">Name</label>
                <input class="u-full-width" id="name_input" type="text" v-model="food.name"/>
            </div>
        </div>
        <div class="row">
            <div class="four columns">
                <label for="measure_input">Serving size</label>
                <input class="u-full-width" id="measure_input" type="number" v-model="food.measure"/>
            </div>
            <div class="two columns">
                <label for="unit_input">Unit </label>
                <select class="u-full-width" id="unit_input" v-model="food.unit">
                    <option value="g">g</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="three columns">
                <label style="padding-bottom: 7px; padding-top: 7px; margin-bottom: 15px; border: 1px;" for="calories_input">Calories</label>
                <label style="padding-bottom: 7px; padding-top: 7px; margin-bottom: 15px; border: 1px;" for="carbs_input">Carbohydrates</label>
                <label style="padding-bottom: 7px; padding-top: 7px; margin-bottom: 15px; border: 1px;" for="fats_input">Fats</label>
                <label style="padding-bottom: 7px; padding-top: 7px; margin-bottom: 15px; border: 1px;" for="protein_input">Protein</label>
            </div>
            <div class="three columns">
                <input class="u-full-width" id="calories_input" type="number" v-model="food.calories"/>
                <input class="u-full-width" id="carbs_input" type="number" v-model="food.carbs"/>
                <input class="u-full-width" id="fats_input" type="number" v-model="food.fats"/>
                <input class="u-full-width" id="protein_input" type="number" v-model="food.protein"/>
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <button @click="sendFood" type="button" class="button six columns">SAVE</button>
            </div>
        </div>
        <p>{{food.name}}</p>
    </form>
    <p>test: {{food.name}}</p>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                food: {
                    name: '',
                    measure: '',
                    unit: '',
                    calories: 0,
                    carbs: 0,
                    fats: 0,
                    protein: 0
                }
            },
            methods: {
                sendFood: function () {
                    axios.post('http://localhost:5000/api/savefood', {
                        name:"test"
                    }).then(function (response) {
                        console.log(response);
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            }
        })
    </script>
</div>

</body>
</html>
